@tailwind base;
@tailwind components;
@tailwind utilities;


body {
}



.content {
  max-height: 100vh;
}

.navmenu > li {
  cursor: pointer;
  padding : 5px 8px;
  border-radius: 12px;
  margin: 0px 2px;
  color: white;
  transition: all 300ms;
}

.navmenu > li:hover,
.navmenu > li.active
{
  background-color: #FD6300;
  color: white;
}

.sidemenu > li {
  cursor: pointer;
  transition: all 300ms;
}


.sidemenu > li:hover,
.sidemenu > li.active
{
  background-color: #FD6300;
  color: white;
}

.panduan-alumni{
  background-color: #FD6300;
}

.pd.active, .pd:hover{
  background-color: #FD6300;
}


